ENVIRONMENT=development
DATABASE_NAME=msdocs-expressjs-mongodb-uub-server
DATABASE_URL=mongodb://msdocs-expressjs-mongodb-uub-server:oXJilfUc0VFTRmkUqPCWZAdDkFhlIz1AgZpDIKGNSWjFz045rTYrL96dDVsQzEcrGI1JT05bvuopACDbPcSPrg==@msdocs-expressjs-mongodb-uub-server.mongo.cosmos.azure.com:10255/msdocs-expressjs-mongodb-uub-database?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@msdocs-expressjs-mongodb-uub-server@
KEY_VAULT_NAME=msdocs-key-vault-123 
KEY_VAULT_SECRET_NAME_DATABASE_URL=DATABASE-URL 
AZURE_TENANT_ID= 
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=